appdirs==1.4.4
APScheduler==3.7.0
aria2p==0.10.4
async-lru==1.0.2
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
Flask==1.1.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
loguru==0.5.3
MarkupSafe==1.1.1
nest-asyncio==1.5.1
Pillow==8.1.2
psutil==5.8.0
pyaes==1.6.1
pyperclip==1.8.2
Pyrogram==1.1.13
pyromod==1.5
PySocks==1.7.1
pytz==2021.1
requests==2.25.1
six==1.15.0
telegraph==1.4.1
TgCrypto==1.2.2
toml==0.10.2
tzlocal==2.1
urllib3==1.26.4
websocket-client==0.58.0
Werkzeug==1.0.1
win32-setctime==1.0.3
youtube-dl==2021.3.25
